# ---------------------------
# 🟢 MISCELLANEOUS / SISTEMA
# ---------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

# ---------------------------
# 🟢 IDE / EDITORES
# ---------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/           # ignora config local de VSCode (descomenta si no quieres versionarla)

# ---------------------------
# 🟢 FLUTTER / DART / PUB
# ---------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
.melos_tool/

# ---------------------------
# 🟢 ANDROID / GRADLE
# ---------------------------
android/.gradle/
android/local.properties
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# ---------------------------
# 🟢 IOS / MACOS
# ---------------------------
ios/Pods/
macos/Pods/
*.xcworkspace/
DerivedData/

# ---------------------------
# 🟢 ARCHIVOS GENERADOS
# ---------------------------
app.*.symbols
app.*.map.json
**/GeneratedPluginRegistrant.*
lib/generated_plugin_registrant.*

# ---------------------------
# 🟢 SECRETS / ENV
# ---------------------------
*.env
.env*
google-services.json
GoogleService-Info.plist
